Source: projman
Section: python
Priority: optional
Maintainer: Alexandre Fayolle  <alexandre.fayolle@logilab.fr>
Build-Depends: debhelper (>= 5.0.38), libboost-python-dev (>=1.34.1), python-dev, libgecode7-dev, python-central (>= 0.5.6)
Standards-Version: 3.7.2
XS-Python-Version: 2.4

Package: projman
Architecture: any
XB-Python-Version: $(python:Versions)
Depends: python, python-logilab-common (>=0.21.0), python-imaging, sgml-base, python-matplotlib, python-elementtree
Conflicts: projman-test (<< 0.11.0)
Description: tool for project management
 projman is a tool for project management and diagrams creation,
 such as Gantt diagram and resources activities diagram.
 It includes the following functionnalties:
  * scheduling of a project
  * managing work-groups' actvities
  * Gantt diagrams generation
  * resources' usage diagrams generation
  * generation of xml doc (under docbook dtd) to list tasks, evaluate costs
 .
 All different format and output are XML files.
 .
 Homepage: http://www.logilab.org/projects/projman

